<div class="img-wrap">
	<div class="valign">
		<img src="{{#if preview}}{{preview}}{{else}}{{path}}{{/if}}" data-path="{{path}}">
	</div>
</div>
<div class="img-desc">
	<p class="t">{{name}}</p>
	<p>{{loaded_date}}</p>
</div>
