<span class="modal-close"></span>
<div class="modal-media-title">{{embedded_title}}</div>
<div class="modal-social-search">
    <div class="modal-social-search-input">
        <div class="tabs col-md-6 col-xs-12">
            <div class="ve-tab tab-all-posts-social">All {{embedded_name}}</div>
            <div class="ve-tab tab-embedded-posts-social">Embedded {{embedded_name}} (<span>{{count_embedded_posts}}</span>)</div>
        </div>
        <div class="search-panel col-md-6 col-xs-12">
            <input type="text" class="post-search-field" placeholder="{{placeholder}}">
            <button class="app-btn-round pink search search-images-button"><i class="fa fa-search"></i></button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="modal-social-posts-search" class="modal-social-tab">
        <div class="modal-social-search-result"></div>
    </div>
    <div id="modal-social-posts-embedded" class="modal-social-tab">
        <div class="modal-social-embeded-result"></div>
    </div>
    <div class="action-buttons-panel text-right">
        <button class="app-btn-default pink action-add">Done</button>
        <button class="app-btn-default action-cancel">Cancel</button>
    </div>
</div>