<div class="pocket-item">
    <div class="video-thumbnail-container">
        <img src="{{image}}" class="thumbnail" style="width: 92px; height: 92px"/>
    </div>
    <div class="info">
        <div class="title">
            <a href="{{url}}">{{title}}</a>
        </div>
        <a class="new-post-link" href="/post/publish?video_id={{id}}&type={{type}}">Create a post</a>
    </div>
    <i class="fa fa-times"></i>
</div>