<div class="col-md-6 col-xs-12 edit-wrap sp " contenteditable="false">
    <div class="videoessenceGooglePost social-post-item-wrap mmp-style" spellcheck="false">
        <a href="#" class="close-button-socials"></a>
        <div class="social-embed-item googleplus">
            <div class="social-embed-header">
                <a target="_blank" href="{{author_url}}" class="social-icon-post"></a>
                <div class="post-desc">
                    <div class="author"><a target="_blank" href="{{author_url}}" class="author-link">{{author}}</a></div>
                    <div class="time-ago">{{published}}</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="social-embed-content">
                {{{content}}}
            </div>
        </div>
    </div>
</div>