<div class="col-md-6 col-xs-12 edit-wrap sp" contenteditable="false">
    <div class="videoessenceTwitterPost mmp-style social-post-item-wrap" spellcheck="false">
        <a href="#" class="close-button-socials"></a>
        <div class="social-embed-item tweet">
            <div class="social-embed-header">
                <a target="_blank" href="https://twitter.com/{{screen_name}}" class="social-icon-post"></a>
                <div class="post-desc">
                    <div class="author">
                        <a target="_blank" href="https://twitter.com/{{screen_name}}" class="author-link">{{user}}</a><br>
                        <a target="_blank" href="https://twitter.com/{{screen_name}}" class="profile-link">@{{screen_name}}</a>
                    </div>
                    <div class="time-ago">{{created_at}}</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="social-embed-content">
                {{text}}
            </div>
        </div>
    </div>
</div>